/*======== 1 Section ========*/
.banner-section{
   background: linear-gradient(rgba(126, 217, 254, 0.8),rgba(126, 217, 254, 0.8)),url(../images/about-banner.jpg);
   background-repeat: no-repeat;
   padding: 100px 0;
   margin-top: 0;
   border-top: 2px solid var(--primary);
   background-size: cover;
}
.banner-section .heading{
  color: var(--primary);
  margin: 0;
  padding: 0;
}
.banner-section p{
  color: var(--white);
  margin-bottom: 0;
}
/*======== 1 Section ========*/
/*======== 2 Section ========*/
.mor-detail .content h3{
  color: var(--primary);
  font-weight: 600;
}
.mor-detail .content p{
  margin-bottom: 5rem;
}
.mor-detail .btn-box{
  display: flex;
}
.mor-detail .re-btn {
    margin-left: 20px;
  }
.mor-detail .btn:hover{
  background: var(--white);
  color: var(--primary);
  border-color: var(--primary);
}
.mor-detail .mor-img{
  text-align: right;
}
/*======= 2 Section End ======*/

/*======== 3 Section ========*/
.req-call{
  background: var(--primary);
  padding: 45px 0;
  background-image: url('../images/about-blossomfield-1.png');
  background-repeat: no-repeat;
  background-position-x:right; 
  background-position-y: bottom;
  background-size: 12%;
}
.req-call h3{
  color: var(--white);
  font-weight: 700;
}
.req-call .form input , textarea{
  margin-top: 24px;
  resize: none;
}
.form-control {
  border: none;
  padding: .575rem .75rem;
  width: 100%;
  border-radius: 16px;
}
.form-control:focus{
  border: none;
  outline: none;
  box-shadow: none;
}
.req-call .sub-btn{
  background: var(--white);
  color: var(--primary);
}
.req-call .sub-btn:hover{
  background: var(--primary);
  color: var(--white);
}
/*======== 3 Section ========*/
/*======== 4 Section ========*/
.section-4 {
  margin-top: 0;
  background-color: var(--light-color);
  padding: 90px;
}
.section-4 .content{
  padding-right: 26px;
}
.section-4 .img-box{
  background: var(--primary);
  text-align: center;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  line-height: 300px;
  display: block;
  margin: 0 auto;
}
.section-4 img{
  filter: invert(1) brightness(5);
}
.section-4 .btn-box .btn{
  background: transparent;
}
.section-4 .btn-box .btn:hover{
  background: var(--primary);
}
/*======= 4 Section End ======*/

/*======== 5 Section ========*/
.testimonial{
  margin-top: 0;
  background: var(--back-color);
  padding: 90px;
}
.testimonial .test-box{
  background: var(--white);
  padding: 26px;
  border-radius: 25px;
  margin-right: 26px;
  position: relative;
  height: calc(100% - 60px);
  padding-bottom: 130px;
  transition: 0.2s;
}
.testimonial .test-box:after{
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 98px 70px 0 0;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  bottom: -70px;
  left: 15px;
  transform: rotate(24deg);
  transition: 0.2s;
}
.testimonial .test-box:hover{
  background: var(--primary);
  color: var(--white);
}
.testimonial .test-box:hover.test-box:after{
  border-color: var(--primary) transparent transparent transparent;
}
.testimonial .test-box:hover.test-box .star i{
  color: var(--white);
}
.testimonial .test-box .star i{
  color: var(--primary);
  margin-bottom: 16px;
  font-size: 20px;
}
.testimonial .test-box h6{
  font-weight: 600;
  font-size: 1.3rem;
  position: absolute;
  bottom: 25px;
  left: 25px;
}
.testimonial .test-row-2{
  margin-top: 5rem;
}
/*======= 5 Section End ======*/




/*======= 6 Section ======*/
.faq-section{
  margin-top: 0;
  background-color: var(--white);
  padding: 90px;
}
.faq-section .pera{
  font-size: 1.3rem;
}
.faq-section .content{
  padding: 26px;
  border-right: 2px solid #ddd;

}
.faq-section .content h3{
  color: var(--primary);
  padding-bottom: 0.8rem;
}
.faq-section .content p{
  font-size: 14px;
  color: var(--black);
}
.faq-section .second-row p{
  font-size: 1.3rem;
  text-align:center;
  margin-top: 1rem;
  margin-bottom: 2.2rem;
}
.faq-section .second-row p strong{
  font-size: 1.8rem;
}
.faq-section .second-row p span{
  color: var(--primary);
}
.faq-section .second-row  .faq-box{
  background: var(--light-color);
  padding: 26px;
  display:flex;
  border-radius: 26px;
}
.faq-section .second-row  .faq-box .icon-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  flex: 0 0 20%;
}
.faq-section .second-row  .faq-box .icon-area i{
  font-size: 3rem;
  color: var(--primary);
}
.faq-section .second-row  .faq-box h3{
  font-weight: 600;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}
.faq-section .second-row  .faq-box p{
  text-align: justify;
  margin: 0;
  line-height: 1.3;
  font-size: 14px;
}
/*======= 6 Section End ======*/














@media(max-width: 991px){
  .testimonial .test-row-2 {
    margin-top: 0;
  }
  .faq-section .content {
    border: none;
    border-bottom: 2px solid #ddd;
  }
  .faq-section .second-row .faq-box {
    margin-top: 3rem;
  }
  .mission {
    background-size: 12%;
  }
  .mor-detail .mor-img {
    display: none;
  }
  .section-4{
    padding: 35px;
  }
  .section-4 .row{
    flex-direction: column-reverse;
  }
  .section-4 .img-box {
    width: 200px;
    height: 200px;
    line-height: 200px;
  }
  .section-4 .img-box img{
    max-width: 50%;
  }
  .section-4 .content {
    margin-top: 26px;
    text-align: center;
  }
  .sub-btn{
    margin-top: 20px;
  }
}

@media(max-width: 768px){
  .testimonial{
    padding: 35px;
    padding-bottom: 50px;
  }
  .testimonial .test-box {
    margin-right: 0;
  }
  .faq-section {
    padding: 35px;
    padding-bottom: 80px;
  }
  .mission h2 {
    font-size: 1.8rem;
  }
}

@media(max-width: 545px){
  .testimonial .test-box {
  padding: 16px;
  padding-bottom: 100px;
 }
 .testimonial .test-box h6 {
    bottom: 12px;
  }
 .testimonial .test-box::after {
  border-width: 61px 33px 0 0;
  bottom: -52px;
 }
 .about-content{
  padding: 0 14px;
 }
 .faq-section .second-row .faq-box {
  flex-direction: column;
 }
 .faq-section .second-row .faq-box .icon-area {
  margin: 0;
  margin-bottom: 1rem;
 }
   .mission h2 {
    font-size: 1.5rem;
    padding: 0 12px; 
}
.section-4 .img-box {
  width: 110px;
  height: 110px;
  line-height: 110px;
 }
}
@media(max-width: 430px){
 .testimonial {
  padding: 15px;
  padding-bottom: 50px;
  }
  .mor-detail .btn-box{
   flex-direction: column;
  }
  .mor-detail .re-btn {
    margin-left: 0;
    margin-top: 20px;
  }
}