@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  /*overflow-x: hidden;*/
}
body{
 font-family: 'Poppins', sans-serif;
 overflow-x: hidden;
}
:root{
  --primary:#1694b9;
  --secondary:#222F5C;
   --white:#FFF;
   --black:252525;
   --light-color:#E2F3FA;
   --back-color: #f3f3f3;
}
::placeholder{
  color: #969696;
}
/* ============OWN Style ============*/
section{
  margin-top: 90px;
}
.heading{
  font-weight: 600;
  padding-bottom: 1rem;
}
.pera{
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 0.8rem;
}

/* ========== OWN Style End =========*/
/*Buttons Style*/
.btn{
  background: var(--primary);
  color: var(--white);
  border-radius: 50px;
  padding: .375rem 1rem;
}
.btn:focus{
  box-shadow: none;
}
.btn i{
  margin-right: 8px;
}
.btn:hover{
  border-color: var(--white);
  color: var(--primary);
  background: var(--white);
}
.btn-2{
  background: var(--white);
  color: var(--primary);
  border-color: var(--primary);
  padding: 16px 28px;
}
.btn-2:hover{
  background: var(--primary);
  color: var(--white);
  border-color: var(--primary);
}
.re-btn{
  background: #A1DBF2;
}
/*================
Buttons Style End
=================*/

/*Top-bar Area*/
.top-bar{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 16px 32px 16px 32px;
 border-bottom: 2px solid #ddd;
}
.top-img{
  width: 250px;
  height: auto;
}
.top-bar img{
width: 100%;
height: auto;
}
.top-right {
  display: flex;
  justify-content: center;
}
.top-bar .btn{
  margin-right: 12px;
  color: var(--white);
}
.top-bar .btn:hover{
  border-color: var(--primary);
  background: var(--white);
  color: var(--primary);
}
.top-bar .contact-btn{
  background: var(--white);
  color: var(--secondary);
  border-color: var(--primary);
  text-transform: capitalize;
}
.top-bar .contact-btn i{
 color: var(--primary);
}
.top-bar  .top-search {
  position: relative;
}
.top-bar .top-search input{
 width: 250px;
 padding: 6px;
 border-radius: 50px;
 border-color: var(--primary);
 padding-left: 16px;
}
.top-bar .top-search i{
 color: var(--primary);
 font-weight: 600;
 position: absolute;
 top: 12px;
 right: 20px;
 cursor: pointer;
}
.top-bar a{
  text-decoration: none;
}

/*Top-bar Area End*/


/*Navigation Style*/
.navbar{
  
}
.navbar .navbar-nav {
  padding-left: 20px;
  width: 100%;
  position: relative;
}
.navbar .navbar-nav .nav-link{
  color: var(--black);
  text-transform: capitalize;
  font-weight: 500;
  margin: 10px 24px 0 0;
  font-size: 20px;
}
.navbar .navbar-nav .nav-link:after{
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: var(--primary);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s;
}
.navbar .navbar-nav .nav-link:hover:after,.active:after{
  transform: scaleX(1);
}
/*-----------------droup-down-------------*/
.navbar-nav .nav-item > .menu-container{
  display: flex;
 position: absolute;
 top: 100%;left: 0;
 z-index: 1;
 background: var(--primary);
 width: 100%;
 /*border: 2px solid red; */
 box-shadow: 0 2px 3px rgba(0,0,0,40%);
 padding: 60px;
 padding-left: 200px;
 display: none;
}
.nav-item.has-child .nav-link{
  position: relative;
}
.navbar-nav .nav-item.has-child .nav-link:before{
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 14.6px 10px;
  border-color: transparent transparent var(--primary) transparent;
  position: absolute;
  bottom: -3px;
  left: 35%;
  z-index: 20;
  display: none;
}
.menu-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 30%;
}
.menu-content h1{
  text-transform: uppercase;
  color: var(--light-color);
  padding-bottom: 0.8rem;
}
.menu-content p{
  font-size: 1.2rem;
  color: var(--light-color);
  padding-bottom: 0.8rem;
}
.menu-content .btn{
  width: 112px;
  background-color: var(--light-color);
  color: var(--primary);
}
.menu-links{
 list-style: none;
 border-right: 2px solid var(--light-color);
 width: 30%;
 position: relative;
 padding-left: 10rem;
}
.menu-links .nav-item .nav-link{
  color: var(--white);
  margin: 0;
}
.sub-menu{
  list-style: none;
  height: 100%;
  position: absolute;
  top: 0;left: 100%;
  border-right: 2px solid var(--light-color);
  display: none;
}
.sub-menu .nav-link{
  min-width: 250px;
}
.inner-sub-menu{
  list-style: none;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  display: none;
}
ul.navbar-nav li.nav-item:hover .menu-container{
display: flex;
}
ul.menu-links li.nav-item:hover .sub-menu{
  display: initial;
}
ul.sub-menu li.nav-item:hover .inner-sub-menu{
  display: initial;
}

/*Traingle  */
ul.navbar-nav li.nav-item.has-child:hover.nav-item.has-child .nav-link:before{
  display: initial;
}

/*-----------------droup-down-------------*/
/*Navigation Style End*/

/*Responsive*/

.offcanvas-header{ display:none; }

.screen-darken{
  height: 100%;
  width:0%;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  opacity:0;
  visibility:hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition:opacity .2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active{
  z-index:10; 
  transition:opacity .3s ease, width 0s;
    opacity:1;
    width:100%;
    visibility:visible;
}
/*Responsive End*/
.faq-section{
  padding: 90px;
}
.faq-section .pera{
  font-size: 1.3rem;
}
.faq-section .content{
  padding: 26px;
  border-right: 2px solid #ddd;
  height: 100%;

}
.faq-section .content h3{
  color: var(--primary);
  padding-bottom: 0.8rem;
}
.faq-section .content p{
  font-size: 14px;
  color: var(--black);
}
.faq-section .second-row p{
  font-size: 1.3rem;
  text-align:center;
  margin-top: 1rem;
  margin-bottom: 2.2rem;
}
.faq-section .second-row p strong{
  font-size: 1.8rem;
}
.faq-section .second-row p a{
  color: var(--primary);
  text-decoration: none;
}
.faq-section .second-row  .faq-box{
  background: var(--light-color);
  padding: 26px;
  display:flex;
  border-radius: 26px;
  height: 100%;
}
.faq-section .faq-box .content-area{
  display: block;
  margin: auto 0;
}
.faq-section .second-row  .faq-box .icon-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  flex: 0 0 20%;
}
.faq-section .second-row  .faq-box .icon-area i{
  font-size: 3rem;
  color: var(--primary);
}
.faq-section .second-row  .faq-box h3{
  font-weight: 600;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}
.faq-section .second-row  .faq-box p{
  text-align: justify;
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1.3;
  font-size: 14px;
}


/*======= Footer ==========*/
.footer{
  background: var(--back-color);
  padding: 90px;
}
.footer .box.social a{
display: inline-block;
}
.footer .box a{
  text-decoration: none;
  color: var(--secondary);
  font-weight: normal;
  transition: 0.3s;
}
.footer .box ul{
  list-style: none;
  padding-left: 0;
}
.footer .box ul li{
  padding-bottom: 1rem;
}
.footer .box a:hover{
color: var(--primary);
}
.footer .box h5{
  text-transform: capitalize;
  font-weight: normal;
  margin-bottom: 1.6rem;
  color: var(--secondary);
  font-size: 1rem;
}
.footer .box .fab{
  color: var(--primary);
  margin-right: 16px;
  font-size: 1.5rem;
}
.footer .box p{
  font-size: 14px;
  color: var(--secondary);
  text-align: justify;
  line-height:1.4;
  margin-bottom: 0;
}
/*======= Footer End ======*/

@media(max-width: 1500px){
  .navbar .navbar-nav .nav-link {
    margin: 10px 16px 0 0;
    font-size: 16px;
  }
  .navbar-nav .nav-item > .menu-container {
    padding-left: 100px;
  }
  .menu-links {
    padding-left: 6rem;
  }
}
@media(max-width: 1180px){
  .inner-sub-menu{
    padding-left: 1rem;
  }
  .navbar-nav .nav-item > .menu-container {
  padding: 30px;
 }
}
@media(max-width: 1200px){
    .navbar .navbar-nav .nav-link {
    margin: 10px 12px 0 0;
    font-size: 14px;
  }
  .navbar-nav .nav-item > .menu-container {
  padding: 40px;
 }
 .menu-links {
    padding-left: 5rem;
  }
  .sub-menu {
    padding-left: 1rem;
  }

}
/* ============ mobile view ============ */
@media all and (max-width: 991px) {
  
  .offcanvas-header{ display:block; }

  .mobile-offcanvas{
    visibility: hidden;
    transform:translateX(-100%);
    border-radius:0; 
    display:block;
    position: fixed;
    top: 0; left:0;
    height: 100%;
    z-index: 12;
     width:80%;
    overflow-y: scroll;
      overflow-x: hidden;
      transition: visibility .3s ease-in-out, transform .3s ease-in-out;
  }

  .mobile-offcanvas.show{
    visibility: visible;
      transform: translateX(0);
      background: var(--white);
  }
  .mobile-offcanvas .container, .mobile-offcanvas .container-fluid{
    display: block;
  }
  .navbar-brand-img{
    width: 50%;
    height: auto;
  }
  .navbar-nav .nav-item > .menu-container {
  
  }
  .navbar-brand {
    margin-left: 20px;
  }
  section {
    margin-top: 60px;
  }
  .top-bar{
    justify-content: center;
    padding: 16px 0;
  }
  .top-bar .top-img{
    display: none;
  }
  .icon-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
  }
  .bar-img{
    width: 300px;
    height: auto;
  }
  .icon-bar i{
    font-size: 2rem;
  }
  /*Nevigation*/
  .menu-content {
    max-width: 100%;
  }
  .menu-links {
    width: 100%;
    border: none;
    padding-left: 0;
    padding-top: 2rem;
  }
  .open{
    top:16px !important;
     display: block !important;
     flex-direction: column;
     left: 0 !important;
     z-index: 12 !important;
     padding: 28px !important;
  }
  .open-again{
    display: block;
    left: 0;
    background: var(--primary);
    border: none;
    padding-top: 20px;
    padding-left: 0;
  }
  .navbar-nav .nav-item > .menu-container::before {
    display: none;
  }
  .bck{
    display: block;
    width: 30px;
    height: 30px;
    background: var(--white);
    text-align: center;
    line-height: 30px;
    color: var(--primary);
    margin-bottom: 6px;
    cursor: pointer;
  }
  ul.navbar-nav li.nav-item:hover .menu-container {
  display: none;
 }
 ul.navbar-nav li.nav-item.has-child:hover.nav-item.has-child .nav-link::before {
  display: none;
}
 .nav-item.has-child .nav-link {
  position: initial;
 }

  /*Nevigation End*/
  .faq-section .content {
    border: none;
    border-bottom: 2px solid #ddd;
  }
  .faq-section .second-row .faq-box {
    margin-top: 3rem;
  }
  .footer {
    padding: 35px;
  }
  .footer-logo{
    display: none;
  }
  .footer .box h5{
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .footer-btm-logo img{
    display: block;
    margin: 0 auto;
  }
  .footer-btm-logo{
    margin-top: 1.5rem;
  }
}

@media(max-width: 768px){
  .bar-img{
    width: 250px;
    height: auto;
  }
  .testimonial{
    padding: 35px;
    padding-bottom: 50px;
  }
  .testimonial .test-box {
    margin-right: 0;
  }
  .faq-section {
    padding: 35px;
    padding-bottom: 80px;
  }
  .footer .box{
  margin-bottom: 20px;
 }
 .footer .box h5 {
  margin-top: 0rem;
 }
}
@media(max-width: 572px){
  .footer .box {
    text-align: center;
  }
}
@media(max-width: 545px){
  .top-bar {
  padding: 12px 0;
  }
  .top-bar .top-search .search{
     display: block;
     position: absolute;
     top: 0;
     width: 266px;
     left: 260px;
     visibility: hidden; 
  }
  .show-input{
    visibility: visible !important;
    left: -276px !important;
    transition: 0.3s;
  }
  .top-bar .top-search i {
    position: initial;
    width: 25px;
    height: 25px;
    line-height: 23px;
    font-size: 12px;
    background: var(--white);
    border: 2px solid var(--primary);
    border-radius: 50%;
    text-align: center;
    display: block;
    margin-top: 6px;
    cursor: pointer;
    transition: 0.3s;
  }
  .bar-img{
    width: 200px;
    height: auto;
  }
  .top-bar .btn {
    padding: 7px 10px;
    font-size: 12px;
  }
  .icon-bar i{
    font-size: 1.5rem;
  }
  .card-section .card {
    margin-top: 3rem;
  }
  .container.about-section {
   padding: 0 25px;
 }
 .pera {
  font-size: 0.8rem;
 } 
 .faq-section {
  padding: 20px;
  padding-bottom: 90px;
}
 .footer {
  padding: 20px;
}
}


@media(max-width: 430px){
  .heading {
    font-size: 1.5rem;
  }
  .faq-section .content h3 {
    font-size: 1.2rem;
  }
  .faq-section .content {
    padding: 18px;
  }
}

/* ============ mobile view .end// ============ */